/* Common */
body, html, table, button, pagination, a, input{
    font-family: "Century Gothic", Arial, Helvetica, sans-serif;
    font-size: 11px !important;
    color: #666;
}

body, html, table {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0;
	width: 100%;
	background-color: #fff !important;
}

#pageLoaderIcon.display-hide{
   display: none;
}

.logo {
    max-height: 37px;
    margin: 6px 0px 0px 6px;
}

footer{
    padding-top:2px;
    padding-bottom: 2px;
}

footer div:first-child{

}

footer div span{
    margin-top: 2px;
    margin-left: -15px;
}

/* Navigation */
div.container {
    width: 100%;
}

a.navbar-brand{
    padding: 0px;
    margin-left: 0px !important;
}

nav.navbar{
    border-radius: 0px;
    min-height: 50px;
    margin-bottom: 0px;
}

nav div:first-child{
    padding-left : 0;
    padding-right: 0;
}

nav.navbar-default{
    background-color: #34495e;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #FF0000 !important;
}

.navbar-default .navbar-nav > li > a:active {
    color: #FF0000 !important;
}

.jumbotron{
    background: #fff !important;
}
